@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}
